@use '../base/variables' as v;
@use '../base/mixins' as m;


.blog{
    margin-top: 10rem;
    @include m.tablet { 
        display: grid;
        grid-template-columns: 2fr 1fr;
    gap: 4rem;
        
     }

     &__heading{
        margin-bottom: 4rem;
     }
  
     &__seccion{
        margin-bottom: 5rem;

        &:last-of-type{
            margin-bottom: 0;
        }
     }

     &__title{
        font-size: 3rem;
        margin: 2rem 0;
     }


     &__boton{
        background-color: v.$colorPrimario;
        font-size: 1.5rem;
        color: v.$blanco;
        margin-top: 2rem;
       
     }

     &__boton--negro{
        background-color: v.$negro;
     }
     &__curso{
        margin-bottom: 4rem;
        border-bottom: .1rem solid v.$gris;

        &:last-of-type{
            border-bottom:unset ;
        }
     }


     &__aside{
      margin-top: 5rem;
      @include m.tablet {
         margin-top: -1rem; 
         
       }
     }
     &__precio,&__cupo{
        font-family: v.$fuenteHeading;
        font-weight: 700;
        font-size: 2rem;
    }

    &__span{
        font-weight: 400;
    }
}