

/* fuente */
$fuenteHeading: 'PT Sans',sans-serif;
$fuenteParrafo: 'Open Sans', sans-serif;
/* paleta de colores */


$colorPrimario: #784D3C;
$gris: #E1E1E1;
$blanco: #FFFFFF;
$negro: #000000;

$hover: #481907;

/* mediaquery */

$telefono: 480px;
$tablet: 768px;
$desktop: 1280px;